.loginWrap{
    border: 1px solid rgba(255, 255, 255, 0.27);
    width: 55%;
    height: 40rem;
    margin: auto;
    margin-top: 5rem;
    background: linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 55% 45%;

    color: white;
}

.loginLeft{
    padding: 2rem;
}

.loginRight{
    border-left: 1px solid var(--color-secondary-main);
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

.loginRight > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

form{
    margin: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

label{
    margin-top: 1rem;
    font-size: 1rem;
}

.loginInput{
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}

button{
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
    border: none;
    background-color: transparent;
    border: 2px solid var(--color-secondary-main);
    color: white;
    cursor: pointer;
}

.dontHaveAccount{
    margin-top: 3rem;
    text-align: center;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

.playingCard{
    background-color: var(--color-primary-darker);
    z-index: 1;
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 6.5rem;
    border: 1px solid var(--color-secondary-main);
    border-radius: 2.5%;
    transform: rotate(7deg);
}

.innerCard{
    z-index: 1;
    width: 90%;
    height: 92.5%;
    margin: auto;
    margin-top: .87rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2%;
    display: grid;
}

.playingCard2{
    transition: .4s ease;
    background-color: var(--color-primary-darker);
    z-index: 2;
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 7.5rem;
    border: 1px solid var(--color-secondary-main);
    border-radius: 2.5%;
    transform: rotate(17deg);
}

.innerCard2{
    z-index: 2;
    width: 90%;
    height: 92.5%;
    margin: auto;
    margin-top: .87rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2%;
    display: grid;
}

.formMsg{
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: white;
}

svg {
    width: 50%;
    height: 50%;
    margin: auto;
}

svg path {
    fill: var(--color-primary-darker);
    stroke: var(--color-secondary-main);
    stroke-width: 2;
}