@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --margin-xxs: .25rem;
  --margin-xs: .5rem;
  --margin-sm: .75rem;
  --margin-md: 1rem;
  --margin-lg: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;

  
  --color-primary: rgba(010, 030, 050, 1);
  --color-primary-darker: rgba(000, 000, 000, 1);

  --color-secondary: rgba(000, 255, 255, 1); /*000 - 255 |*/
  --color-secondary-main: rgba(000, 000, 000, 1);
  --color-secondary-darker: rgba(000, 000, 000, 1);
  
}

::selection {
  background-color: var(--color-secondary-main);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-image: linear-gradient(80deg, var(--color-primary-darker) 0%, var(--color-secondary-darker) 100%);
}
